{
  "presets": [
    ["env", {
      "debug": true,
      "modules": false,
      "useBuiltins": false,
      "targets": {
        "browsers": [
          "> 1%",
          "not ie 11",
          "not op_mini all"
        ]
      }
    }]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}
