body {
    font-family: var(--text-family);
    font-size: var(--text-size);
    color: var(--text-color);

    & h1 {
        font-family: var(--heading-family);
        font-size: calc(var(--text-size) * 3);
        color: #444444;
    }
}
