<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
		<title><%= htmlWebpackPlugin.options.title %></title>
		<meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
	</head>
	<body>
		<!--[if lte IE 9]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
		<![endif]-->
        <code>
            docker run -it -p 8080:8080 --rm --name test -v ~/Documents/GitHub/kit/:/app -v /app/node_modules zacharykane/kit-dev
        </code>
		<div id="root">
		</div>
	</body>
</html>
